body {
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}

@media print {
  body * {
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .app-container {
    display: block;
  }
}
