.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #464866;
  border: none;
  margin: 0;
}

.form-section legend {
  float: left;
  padding: 1.5rem;
  font-size: 2rem;
}

.form-section-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
